*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    overflow: hidden;
    

}
.links{
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
    align-items: center; 
      
}
.links a {
    margin-left: 20px;
    font-size: 30px;
    color:#fff;

}

.inner-text{
  text-transform: uppercase;
  align-items: flex-start;
  justify-content: right;
  display: flex;
  overflow:auto;
}



  .image-style{
    width: 100%;
    height: 400px;
    object-fit: cover;
  }

  .add-btn:hover{
    background-color: #b9b912;
    color: #fff;
    font-weight: bolder;
    border: none;
  }
  .btns{
    width: 40px;
  }

  .price-car{
    
    display: flex;
    justify-content: space-between;
    padding: 2px;
    font-size: larger;
  }

  .dist{
    
    text-transform: uppercase;
  }

  .image-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    width: 100%;
    height: 100%;
  }